[submodule "src/github.com/writeas/writeas-cli"]
	path = src/github.com/writeas/writeas-cli
	url = https://github.com/writeas/writeas-cli.git
[submodule "fonts/lora"]
	path = fonts/lora
	url = https://code.as/writeas/fonts-lora.git
	branch = include
[submodule "src/code.as/core/socks"]
	path = src/code.as/core/socks
	url = https://code.as/core/socks.git
