Source: com.github.writeas.writeas-gtk
Section: x11
Priority: extra
Maintainer: Write.as <hello@write.as>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgtksourceview-3.0-dev,
               valac (>= 0.36),
               golang-go,
               gb
Standards-Version: 3.9.3

Package: com.github.writeas.writeas-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: fonts-open-sans, fonts-hack
Description: A distraction free and private writing tool, with built-in publishing.
