[Desktop Entry]
Type=Application
Name=Write.as
Comment=Publish a thought in seconds.
Exec=writeas-gtk %f
Icon=write-as
Terminal=false
MimeType=text/plain;
Categories=GTK;Office;Publishing;
Keywords=blog;text;editor;publish;
StartupNotify=true

