[Desktop Entry]
Type=Application
Name=Write.as
Comment=Spread your ideas
Exec=write-as-gtk %f
Icon=write-as
Terminal=false
MimeType=text/plain;
Categories=GTK;Office;Publishing;
Keywords=blog;pastebin;snippets;code;publish;
StartupNotify=true

